.nav-container {
  
  box-shadow:4px 4px 8px 0 rgba(0,0,0,.2);
  
  position: sticky;
  top: 0;
  z-index: 2;
  
  
  
  nav {
    width: 80%;
    margin: auto;
    height: 12vh;
    padding: 3rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    ul {
      display: flex;
      min-width: 30%;
      list-style: none;
      justify-content: space-between;
      li {
        margin-left:5rem;
      }
    }
    
    #logo {
      position: relative;
      cursor: pointer;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 7rem;
        height: 6rem;
        border-radius: 50%;
        transform: translate(-10%, -20%);
        mix-blend-mode: screen;
      }
      
    }
    
    
    .order-button {
      padding: 1rem 2rem;
      border-radius: 2rem;
      background: $accent-color-dark2;
    }   
    
  }
  
  
  
}

