.order {
  height: 100vh;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;

  .img-contianer,
  .circle,
  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -43%);
  }

  .circle {
    z-index: -1;
  }

  h2 {
    top: 25%;
    color: white;
  }

  .img-contianer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    z-index: -1;
    img {
      max-height: 55vh !important;
    }
  }

  #order-button {
    background: $accent-color-dark;
    padding: 1rem 2rem;
    border-radius: 3rem;
    font-size: 3rem;
    height: fit-content;
    position: absolute;
    bottom: 5%;
    color: white;
    font-family: "Lobster", sans-serif;
    font-weight: lighter;
  }

  @media screen and (max-width: 1200px) {
    overflow: hidden;

    h2 {
      font-size: 5rem;
      text-align: center;
    }
  }

  @media (max-aspect-ratio: 77/100) {
    #order-button {
      bottom: 15%;
    }
  }

  @media (min-aspect-ratio: 216/100) {
    img {
      min-width: 80% !important;
      max-width: 80% !important;
    }
  }
}
