@import "variables";
@import "landing";
@import "features";
@import "order";
@import "footer";
@import "header";

@import './vendor/css/font-awesome.min.css';
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;600&display=swap");

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  
  //Dark and Light Mode Settings
  .main-container{
    &.dark {
      color: white;
      a {
        color:white;
      }
      
      .nav-container {
        background: black;
        #logo{
          &::after {
            background: $accent-color-dark;
          }
        }
      }  
      
      .home {
        background: $bg-color-dark;
      }
      
      .features-container {
        background: #323232;
      }
      
      .order {
        background: $bg-color-dark;
      }      
      
      footer {
        background-color: black;
        
        .for-more {
          color: #aa9f9f;
        }
        .credit {
          color: #aa9f9f;
          a {
            color: #aa9f9f !important;
          }
        }
      }
    }
    
    
    
    
    
    &.light{
      color:black;
      a{
        color: black;
      }
      
      
      .nav-container {
        background:$bg-color-light-header;
        #logo{
          color: white; 
          &::after {
            background: $accent-color-light;
            mix-blend-mode: unset;
            z-index: -1;
          }
        }
        .order-button{
          color: white;
          font-size: 2rem;
        }
      }      
      
      .home {
        background-color: $bg-color-light;
      }
      
      .features-container {
        background-color: $bg-color-light-grey;
      }
      
      .order {
        background-color: $bg-color-light;
        h2 {
          color: black;
        } 
      }      
      
      footer {        
        background-color: $bg-color-light-grey;
        hr{
          border-color:rgb(224, 223, 223);
        }
        
        .for-more {
          color: #922c25;
        }
        .credit {
          color: #922c25;
          a {
            color: #922c25 !important;
          }
          
        }
      }
    }
  }
  
  
  
  font-family: "Montserrat", sans-serif;
  
  
  h1 {
    font-size: 2.5rem;
    font-family: "Lobster", sans-serif;
    font-weight: lighter;
  }
  h2 {
    font-size: 7.5rem;
    font-family: "Lobster", sans-serif;
    font-weight: lighter;
  }
  h3 {
    font-size: 3.5rem;
  }
  
  p {
    font-size: 1.8rem;
    line-height: 140%;
  }
  
  li {
    font-size: 2rem;
  }
  
  a {
    text-decoration: none;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}
